.App{
    margin-top: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.taskHeader{
    display: block;
    margin: auto;
    color:green
}
.form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.title{
    display: flex;
    flex-direction: row;
}

.description{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.textField{
    margin-left: 10%;
}
.task{
    display: flex;
    flex-direction: row;
    .card{
        margin: 5%;
        // width: 250px;
        // height: 250px;
        min-height: 200px;
        min-width: 200px;
        background-color: aqua;
        border-radius: 10px;
        padding: 2%;
        .titleDiv{
            display: flex;  
            justify-content: space-between;
            
        }
        .check{
            display: flex;  
            flex-direction: row;
        }
    }
}